<EditForm Model="@NewComment" OnValidSubmit="HandleValidSubmit">
    <div class="form-group mx-5 my-4">
        <label for="text" style="color: #e8e8e8; font-size: 1.2rem" >Comment:</label>
        <div class="row">
            <div class="col">
                <InputTextArea id="text" class="form-control mb-2" style="background-color: #545454; color: #e8e8e8;border-color: gray;" @bind-Value="NewComment.Text"/>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="submit" class="btn btn-primary gray-button">Submit</button>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter]
    public EventCallback<Comment> OnCommentSubmitted { get; set; }

    private Comment NewComment { get; set; } = new Comment();

    private async Task HandleValidSubmit()
    {
        await OnCommentSubmitted.InvokeAsync(NewComment);
        NewComment = new Comment(); // reset the form
    }

}