@using MovieFiles.Ui.Http.Data;
@using MovieFiles.Ui.Http.Helpers;
@using MovieFiles.Ui.Http.Data;
@inject IUserResolver UserResolver

<style>
            :root{
                --gradiant: linear-gradient(45deg, #631abc,#631abc, #8534e7, #8534e7,#8534e7,#631abc,  #631abc);
            }
            .login-button{
                background-image: var(--gradiant);
                color: white;
                border-radius: 5px;
                padding: 10px;
                text-decoration: none;
                font-weight: bold;
                background-size: 300%;
                background-position: left;
                transition: background-position 0.5s;
            }
            .login-button:hover{
                background-position: right;
                color: white;
            }
</style>

<AuthorizeView>
    <Authorized>
        <div id="login-options">
            <a id="loggedInIcon" onclick="@ToggleHeight">
                <img class="icon" src="svgs/personIcon.svg" alt="person icon"/>
            </a>

            <div class="drop-down-menu">
                <p>Hello, @context.User.Identity?.Name</p>
                @* <a href="MicrosoftIdentity/Account/SignOut">Add to follow</a> *@
                <a href="follow">Following</a>
                <a href="watch-later-list">Watch later list</a>
                <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
            </div>

        </div>
    </Authorized>
    <NotAuthorized>
        <a class="login-button" href="MicrosoftIdentity/Account/SignIn">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override async Task OnInitializedAsync()
    {
        await UserResolver.ResolveUser();
    }
}
