@inherits LayoutComponentBase

@* <PageTitle>MovieFiles.Ui.Http</PageTitle> *@

<style>
    html,body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>

<div class="content">
    <div class="">
        <NavMenu />
    </div>

    <main style="" class="body">
        <article >
            @Body
        </article>
    </main>
</div>
