@inherits LayoutComponentBase

@* <PageTitle>MovieFiles.Ui.Http</PageTitle> *@

<div class="">
    <div class="">
        <NavMenu />
    </div>
    
    <main class="body">
        <article >
            @Body
        </article>
    </main>
</div>
