.navbar{
    display: flex;
    justify-content: space-between;
    background: #101215;
    padding: 10px;
    padding-inline: 19%;
}
.navigation{
    display: flex;
    gap: 30px;
    align-items: center;
}
.website-name{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.website-name span:first-child{
    color: #8534e7;
}



