@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">MovieFiles.Ui.Http</a> *@
@*         <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*     </div> *@
@* </div> *@

@inject NavigationManager NavigationManager
<style>
    .nav-button{
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;
    }
    .nav-button:hover{
        color: #8534e7;
    }
    #searchBar{
        width: 100%;
    }
    .searchComponent{
        width: 60%;
    }
</style>

<div class="navbar">
    <a class="website-name" href="">
        <span>M</span>
        <span>ovieFiles</span>
    </a>
    <EditForm class="searchComponent" Model="SearchString" OnSubmit="@SearchMovies">
        <InputText id="searchBar" @bind-Value="SearchString"/>
    </EditForm>

    <AuthorizeView>
        <Authorized>
            <div class="navigation">
                <div class="">
                    <NavLink class="nav-button" href="" Match="NavLinkMatch.All">
                        <span class="nav-button-text" aria-hidden="true"></span> Movies
                    </NavLink>
                </div>
                <div class="">
                    <NavLink class="nav-button" href="counter">
                        <span class="" aria-hidden="true"></span> My movies
                    </NavLink>
                </div>
                <div class="">
                    <NavLink class="nav-button" href="fetchdata">
                        <span class="" aria-hidden="true"></span> For me
                    </NavLink>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
    <LoginDisplay/>
</div>

@code {
    private string SearchString = "";

    private void SearchMovies(){
        NavigationManager.NavigateTo($"find?q={SearchString}");
    }
}