@* <div class="top-row ps-3 navbar navbar-dark"> *@
@*     <div class="container-fluid"> *@
@*         <a class="navbar-brand" href="">MovieFiles.Ui.Http</a> *@
@*         <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@
@*     </div> *@
@* </div> *@

@inject NavigationManager NavigationManager
<style>
    .nav-button{
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;
    }
    .nav-button:hover{
        color: #8534e7;
    }
    #searchBar{
        width: 100%;
        color: black;
    }
    .searchComponent{
        position: relative;
        display: flex;
        height: 30px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #searchIcon{
        position:absolute;
        right: 0;
        height: 26px;
        width: 26px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        border: none;  
    }
    #navBarSearch{
    width: 45%;
    }
</style>

<div class="navbar">
    <a class="website-name" href="">
        <span>M</span>
        <span>ovieFiles</span>
    </a>
    <div id="navBarSearch">
        <EditForm id="searchForm" class="searchComponent" Model="SearchString" OnSubmit="@SearchMovies">
            <InputText id="searchBar" @bind-Value="SearchString"/>
            <button id="searchIcon" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"/>
                    <path d="M21 21l-6 -6"/>
                </svg>
            </button>
        </EditForm>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="navigation">
                <div class="">
                    <NavLink class="nav-button" href="" Match="NavLinkMatch.All">
                        <span class="nav-button-text" aria-hidden="true"></span> Movies
                    </NavLink>
                </div>
                <div class="">
                    <NavLink class="nav-button" href="counter">
                        <span class="" aria-hidden="true"></span> My movies
                    </NavLink>
                </div>
                <div class="">
                    <NavLink class="nav-button" href="fetchdata">
                        <span class="" aria-hidden="true"></span> For me
                    </NavLink>
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
    <LoginDisplay/>
</div>

@code {
    private string SearchString = "";

    private void SearchMovies()
    {
        NavigationManager.NavigateTo($"find?q={SearchString}");
    }

}