@page "/counter"
@using MovieFiles.Core.Interfaces
@using MovieFiles.Core.Models
@inject IMoviesService MoviesService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    
    private void IncrementCount()
    {
        string apiKey = "2d540c52d96bd6b20f3fc9282c3f627c";
        Task<(IList<Movie>?, HttpResponseMessage?)> result =  MoviesService.GetLatestMoviesAsync(apiKey);
        (IList<Movie>? movies, HttpResponseMessage? response) = result;

        if (response?.IsSuccessStatusCode == true)
        {
            if (movies != null)
            {
                foreach (var movie in movies)
                {
                    Console.WriteLine(movie.Title);
                }
            }
            else
            {
                Console.WriteLine("No movies found.");
            }
        }
        else
        {
    // Request failed
            Console.WriteLine($"Request failed. StatusCode: {response?.StatusCode}");
        }
    }
}
