
.body {
    min-height:calc(100vh - 64px) ;
    color: white;
    padding-inline: 20%;
    padding-top: 30px;
    padding-bottom: 15px;
    /*overflow: hidden;*/
}

h1{
    font-weight: bold;
}





#page-list{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    list-style-type: none;
    
}
#page-list li{
    padding: 10px;
    background: #101215;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
#page-list li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
#page-list li:hover a{
    color: #8534e7;
}
#page-list li:hover{
    transform: scale(1.05);
}
.active{
    background: #8534e7 !important;
}
.active a{
    color: white !important;
}