@page "/"
@using MovieFiles.Api.Client.Services
@inject IMoviesService MoviesService

@using MovieFiles.Ui.Http.Shared.Movies;
@using Microsoft.AspNetCore.Mvc.RazorPages
@using System.Runtime.CompilerServices


    <PageTitle>Movies</PageTitle>

<div class="body">
    <h1>Movies</h1>
    <FeaturedMovies Page="1" MovieGetter=@featuredMoviesGetter()></FeaturedMovies>
</div>
    


@code {
    protected Func<int,Task<MovieList>> featuredMoviesGetter(){
        Func<int,Task<MovieList>> myFunc = page => MoviesService.GetPopularMoviesAsync(page);
        return myFunc;
    }
}