@page "/"
@using MovieFiles.Api.Client.Services
@using MovieFiles.Api.Client.Models
@inject IMoviesService MoviesService

@if (IsLoading)
{
}
else
{
    <PageTitle>Movies</PageTitle>

    <div class="body">
        <h1>Movies</h1>
        <div class="movies-container">
            <div class="box">
                <div class="box-img">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2F736x%2F83%2F84%2F96%2F838496bfe159d838e7bd39f844742380.jpg&f=1&nofb=1&ipt=e6e8250618f241cefa3857742f4858903cc6d2eba81e83d7916f924f6791bb11&ipo=images" alt="Example Image">
                </div>
                <div class="rating-box">
                    <img class="star" src="svgs/star.svg">
                    <div>7.5</div>
                </div>
                <h5>John Wick</h5>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb3%2F87%2F9a%2Fb3879a322f8317b4a48d90ebc5e8988a.jpg&f=1&nofb=1&ipt=9a27048791da30187d667949892124fcb491dffc8d695979fb11bf70e35c11f5&ipo=images" alt="Example Image">
                </div>
                <div class="rating-box">
                    <img class="star" src="svgs/star.svg">
                    <div>7.5</div>
                </div>
                <h5>Pulp Fiction</h5>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpicfiles.alphacoders.com%2F168%2Fthumb-1920-168042.jpg&f=1&nofb=1&ipt=b1097abafed28406b90a6c32d45a520269016c6d6a1f1aefda3ec8882b8c4c51&ipo=images" alt="Example Image">
                </div>
                <div class="rating-box">
                    <img class="star" src="svgs/star.svg">
                    <div>7.5</div>
                </div>
                <h5>Back to the Future</h5>
            </div>
            <div class="box">
                <div class="box-img">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.redd.it%2Ft21pil9q1k661.jpg&f=1&nofb=1&ipt=1d8cd38d3cbefc5f7936ef6e7d49978d462e187ac3fd043cc73f8d5f6f84e003&ipo=images" alt="Example Image">
                </div>
                <div class="rating-box">
                    <img class="star" src="svgs/star.svg">
                    <div>7.5</div>
                </div>
                <h5>Coming to America 2</h5>
            </div>

            <h1>asd</h1>
            @foreach (var Movie in MovieList.Results)
            {
                <p>@Movie.Title</p>
                <p>@Movie.OriginalTitle</p>
                <p>@Movie.PosterPath</p>
                                    
            }

        </div>
    </div>
}

@code
{
    public MovieList MovieList { get; set; }
    public bool IsLoading { get; set; } = true;
    
    protected override async Task OnInitializedAsync()
    {
        MovieList = await MoviesService.GetFavoriteMoviesAsync(1);
        IsLoading = false;
    }
}
