@page "/"
@using MovieFiles.Ui.Http.Shared.Movies
@inject IMoviesService MoviesService


<PageTitle>Movies</PageTitle>

<div class="body">
    <h1>Movies</h1>
    <FeaturedMovies MovieGetter=@featuredMoviesGetter()></FeaturedMovies>
</div>

@code {
    protected Func<int,Task<MovieList>> featuredMoviesGetter(){
        Func<int,Task<MovieList>> myFunc = page => MoviesService.GetPopularMoviesAsync(page);
        return myFunc;
    }
}