
.body {
    min-height:calc(100vh - 64px) ;
    color: white;
    padding-inline: 20%;
    padding-top: 30px;
    padding-bottom: 15px;
    /*overflow: hidden;*/
}

h1{
    font-weight: bold;
}

.typeahead-result {
    color: black;
}

.typeahead-block {
    max-width: 450px;
    display: flex;
    align-items: center;
}




