@page "/movie/{MovieIdString}"
@using MovieFiles.Ui.Http.Shared.Ratings;

@if(MovieId == null)
{
    <h1>Could not find requested movie</h1>
}
else
{
    <RaitingMain MovieId="(Guid)MovieId"></RaitingMain>
}
@code {
    [Parameter]
    public string MovieIdString { get; set; }

    public Guid? MovieId
    {
        get
        {
            Guid.TryParse(MovieIdString, out var guid);
            return guid == Guid.Empty ? (Guid?)null : guid;
        }
    }

}

