@page "/movie/{MovieId:int}"
@using MovieFiles.Ui.Http.Shared.Ratings;
@inject IMovieDetailsService MovieDetailsService


@if(MovieId == null)
{
    <h1>Could not find requested movie</h1>
}
else
{
    <RaitingMain MovieId="MovieId"></RaitingMain>
    <CommentSection MovieId="MovieId"></CommentSection>
}
@code {
    [Parameter]
    public int MovieId { get; set; }


    public async  Task<Movie> getMovieAsync(int movieId)
    {
      Core.Models.Movie? movie =  await MovieDetailsService.GetMovieDetailsAsync(movieId);
        return movie;
    }
}

