.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 2em;
    margin-left: 3em;
    margin-right: 4em;
}

.grid-item.picture {
    grid-column: 1 / 2;
    max-width: 100%;
    height: auto;
}

.grid-item.details {
    grid-column: 2 / 3;
}

.responsive-picture {
    max-width: 100%;
    height: auto;
}

.fade-out-image {
    position: relative;
    overflow: hidden;
}

.fade-out-image::before,
.fade-out-image::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
}

.fade-out-image::before {
    top: 0;
    height: 15%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 2;
}

.fade-out-image::after {
    bottom: 0;
    height: 15%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: 2;
}

.fade-out-image img {
    vertical-align: middle;
    position: relative;
    z-index: 1;
    height: auto;
}

.title-rating-alignment {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vertical-separator {
    height: 20px;
    margin: 3px 15px;
    border-radius: 10px;
    border: 1px solid white;
}

.horizontal-items {
    display: flex;
    color: #585858;
    font-size: 1.1rem;
}

.horizontal-items-rating {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #585858;
    gap: 3rem;
}

.horizontal-items-rating p.rating {
    margin: 1.4rem 0 1rem;
}

.horizontal-items-rating .rating {
    font-size: 1.5rem;
}

.horizontal-items-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #585858;
    gap: 0.7rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 1492px) {
    .horizontal-items-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
}

.block-items {
    width: 100%;
    overflow-x: auto;
}

.block-items td {
    padding: 10px 10px 10px 10px;
}

.block-items .line-break {
    white-space: nowrap;
    color: #585858;
    font-size: 1.2rem;
}

.block-items .table-data {
    white-space: nowrap;
    color: #e8e8e8;
    font-size: 1.2rem;
}


.block-items .line-break.horizontal-items {
    display: flex;
    align-items: center;
}

.movie-title {
    font-size: 3rem;
    white-space: normal;
    color: #e8e8e8
}

@media screen and (max-width: 1300px) {
    .movie-title {
        font-size: 2.7rem;
    }
}

@media screen and (max-width: 970px) {
    .movie-title {
        font-size: 2.2rem;

    }
}

@media screen and (max-width: 700px) {
    .movie-title {
        font-size: 1.8rem;
        white-space: normal;
    }
}

@media screen and (max-width: 400px) {
    .movie-title {
        font-size: 1.6rem;
        white-space: normal;
    }
}

.section-title-active {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    color: #e8e8e8;
    margin-bottom: 20px;
    transition: font-size 0.5s;
    cursor: default;
    letter-spacing: 0.15rem;
}

.section-title-active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #782ad6;
    border-radius: 10px;
    transition: bottom 0.5s;
}

.section-title-active:hover {
    font-size: 1.23rem;
    cursor: default;
}

.section-title-active:hover::after {
    bottom: -6px;
}

.section-title {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    color: #585858;
    margin-bottom: 20px;
    transition: font-size 0.5s;
    cursor: default;
    letter-spacing: 0.15rem;
}

.section-title:hover {
    font-size: 1.23rem;
    cursor: default;
}

.section .overview {
    margin: 30px 1px 0 0;
}

.section .overview-text {
    color: #e8e8e8;
    font-size: 1.2rem;
}

.section .cast {
    margin: 30px 1px 0 0;
}

.section .director {
    margin: 30px 1px 0 0;
}

.scrollable-list {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1.2rem;
}

.scrollable-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scrollable-list-item .fit-parent {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
}

.scrollable-list-item .text {
    color: #e8e8e8;
    text-align: center;
}

.fit-parent {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Adjust as per your requirement */
}

.sub-menu {
    border-collapse: separate;
    margin-bottom: 2rem;
}

.sub-menu th {
    margin-right: 3rem;
}

.ratings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray-button {
    background-color: rgba(84, 84, 84, 0.7);
    color: #e8e8e8;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    white-space: nowrap;
}


.gray-button:hover {
    background-color: rgba(120, 120, 120, 0.7);
}

.gray-button:active {
    background-color: rgba(100, 100, 100, 0.7);
}

