@page "/user/{userId}/TOPLIST"
@using MovieFiles.Ui.Http.Helpers
@using MovieFiles.Ui.Http.Shared.Movies
@using System.Diagnostics;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMoiveListService MovieListService
<style>
    .body {
    min-height:calc(100vh - 64px) ;
    color: white;
    padding-inline: 20%;
    padding-top: 30px;
    padding-bottom: 15px;
    /*overflow: hidden;*/
}
</style>
<div class="body">
    <h1>List of user's top movies</h1>
    <MovieListPage userId="@this.userId" listType="MyMovieListItem.ListType.TOPLIST"/>
</div>

@code {
    [Parameter]
    public string userId {get;set;}
}