@using MovieFiles.Api.Client.Models
@using MovieFiles.Api.Client.Services
@using Microsoft.AspNetCore.Diagnostics
@inject IMoviesService MoviesService
@inject IJSRuntime JSRuntime


@if (IsLoading)
{
    <div class="loading">
        <div class="spinner"></div>
    </div>
}
else
{
    <div class="movies-container">
        @foreach (var movie in MovieList.Results)
        {
            <Movie Movie="@movie" reRender="reRender"></Movie>
        }
    </div>
}


<ul id="page-list">
    <li @onclick="First">
        «
    </li>
    @for (int i = @Page - @PageRange; i <= @Page + @PageRange; i++)
    {
        if (i >= 1 && i <= @TotalPages)
        {
            var pageI = i;
            if (i == @Page)
            {
                <li class="active" @onclick="() => OnClick(pageI)">
                    @pageI
                </li>
            }
            else
            {
                <li class="" @onclick="() => OnClick(pageI)">
                    @pageI
                </li>
            }
        }
    }
    <li @onclick="Last">
        »
    </li>
</ul>


@code{

    public MovieList MovieList { get; set; }

    public int Page { get; set; } = 1;
    public int TotalPages { get; set; } = 500;
    public int PageRange { get; set; } = 3;

    public bool IsLoading { get; set; } = true;
    public bool reRender { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        MovieList = await MoviesService.GetFavoriteMoviesAsync(Page);
        IsLoading = false;
    }

    async Task OnClick(int id)
    {
        if (Page != id)
        {
            Page = id;
            reRender = true;
            MovieList = await MoviesService.GetFavoriteMoviesAsync(Page);
        }
    }

    async Task First()
    {
        Page = 1;
        reRender = true;
        MovieList = await MoviesService.GetFavoriteMoviesAsync(Page);
    }
    async Task Last()
    {
        Page = TotalPages;
        reRender = true;
        MovieList = await MoviesService.GetFavoriteMoviesAsync(Page);
    }

}