@using MovieFiles.Api.Client.Services
@inject IMoviesService MoviesService

<div class="movies-container">
    @foreach (var movie in MovieList.Results)
    {
        <Movie Movie="@movie"></Movie>
    }
    @* </Virtualize> *@
</div>

@code{
    public MovieList MovieList = new MovieList(12);
    [Parameter]
    public int Page { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        this.Page = this.Page == 0 ? 1 : this.Page;
        MovieList = await MoviesService.GetPopularMoviesAsync(Page);
    }
}