@using MovieFiles.Api.Client.Models
@using MovieFiles.Api.Client.Services
@inject IMoviesService MoviesService

<div class="movies-container">
    @foreach (var movie in MovieList.Results)
    {
        <Movie Movie="@movie"></Movie>
    }
    @* </Virtualize> *@
</div>

@code{
    public MovieList MovieList = new MovieList(12);
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public Func<int,Task<MovieList>>? MovieGetter {get;set;}
    
    protected override async Task OnInitializedAsync()
    {
        this.Page = Math.Max(1, this.Page);
        if (MovieGetter != null){
            MovieList = await MovieGetter(Page);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        this.Page = Math.Max(1, this.Page);
        if (MovieGetter != null){
            MovieList = await MovieGetter(Page);
        }
    }
}