.movies-container {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1rem;
    margin-top: 2rem;
}



#page-list{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    list-style-type: none;

}
#page-list li{
    padding: 10px;
    background: #101215;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
#page-list li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
#page-list li:hover a{
    color: #8534e7;
}
#page-list li:hover{
    transform: scale(1.05);
}
.active{
    background: #8534e7 !important;
}
.active a{
    color: white !important;
}