.box {
    background: #101215;
    transition: transform 0.5s;
    max-width: 13rem;
}
.box:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.box .box-img {
    width: 100%;
    height: auto;
    object-fit: fill;
}
.box .box-img img{
    width: 100%;
    height: 100%;
}
.box h5 {
    padding: 10px;
    margin: 0;
}