<AuthorizeView>
    <Authorized>
        <div class="horizontal-items-buttons">
            <MovieFiles.Ui.Http.Shared.Movies.MovieListButton Name="Favorites" movieId=@MovieId userId=@UserId
                movieType=@Core.Models.MyMovieListItem.ListType.TOPLIST ListOfMovieListNames=@MovieTypesList />
            <MovieFiles.Ui.Http.Shared.Movies.MovieListButton Name="Watched" movieId=@MovieId userId=@UserId
                movieType=@Core.Models.MyMovieListItem.ListType.ALREADY_WATCHED ListOfMovieListNames=@MovieTypesList />
            <MovieFiles.Ui.Http.Shared.Movies.MovieListButton Name="Going to watch" movieId=@MovieId userId=@UserId
                movieType=@Core.Models.MyMovieListItem.ListType.WATCH_LATER ListOfMovieListNames=@MovieTypesList />
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public int MovieId {get;set;}
    [Parameter]
    public Guid UserId{get;set;}
    [Parameter]
    public List<string> MovieTypesList {get;set;}
}