.gray-button {
    background-color: rgba(84, 84, 84, 0.7);
    color: #e8e8e8;
    border: 1px solid #545454;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 9rem; /* Adjust the width as per your preference */
    white-space: normal;
}

.gray-button:hover {
    background-color: rgba(120, 120, 120, 0.7);
}

.gray-button:active {
    background-color: rgba(100, 100, 100, 0.7);
}