@using Microsoft.AspNetCore.Components
@using MovieFiles.Ui.Http.Pages
@using MovieFiles.Ui.Http.Shared.Ratings;

<div class="box" @onclick="NavigateToMovie">
    <div class="box-img">
        @if (!string.IsNullOrEmpty(movie.PosterPath))
        {
            <img src="https://image.tmdb.org/t/p/w500/@movie.PosterPath" alt="Example Image">
        }
    </div>
    <div class="rating-box">
        @if (!string.IsNullOrEmpty(movie.OriginalTitle))
        {
            <div style="height: 30px">
                <RatingAverage StyleClass="@StyleClassObject" MovieId="@movie.Id"></RatingAverage>
            </div>
        }
    </div>
    <h5>@movie.Title</h5>
</div>

@code
{
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public Core.Models.Movie movie { get; set; }


    public bool rating { get; set; } = false;
    
    private MovieDetails.StyleClass StyleClassObject { get; set; } = new MovieDetails.StyleClass();

    protected override void OnInitialized()
    {
        StyleClassObject.StarItem = "star";
        StyleClassObject.RatingItem = "item";
        StyleClassObject.Rating = "rating";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            rating = true;
            StateHasChanged();
        }
    }

    private void NavigateToMovie()
    {
        NavigationManager.NavigateTo($"/movie/{movie.Id}");
    }
}
